[user]
    name = Masayuki Ataka
    email = masayuki.ataka@gmail.com
[alias]
    switchn   = "!SKIP_HOOK=1 git switch"
    checkoutn = "!SKIP_HOOK=1 git checkout"
    pulln     = "!SKIP_HOOK=1 git pull"
[pull]
	rebase = false
